.outer-bar {
  background-color: #f0f0f0;
  width: 500px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.inner-bar {
  background-color: #fff;
  width: 250px;
  display: inline-block;
  text-align: right;
  border-radius: 15px;
  padding-right: 10px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

#green {
  background-color: #c5e19d;
}

#red {
  background-color: #f5b0a6;
}

#blue {
  background-color: #b4d8ef;
}

#yellow {
  background-color: #f5dc9d;
}
